.heading_underline {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ff0000;
}

/* Header */
.header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
}

.header__wrap {
  width: 100%;
  height: 60px;
  color: #fff;
  position: relative;
}

.header__logo {
  width: 200px;
  height: 40px;
  left: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-indent: 52px;
  background: url(../img/logo.png) left center no-repeat;
  position: absolute;
}

.header__nav {
  margin: 10px 0;
  right: 30px;
  font-size: 0;
  position: absolute;
}

.header__nav__item {
  display: inline-block;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  line-height: 40px;
  margin-left: 40px;
  white-space: nowrap;
}

.header__nav__item--type-btn {
  width: 98px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #f01400;
}

.screen-1,
.screen-2 {
  width: 100%;
  height: 640px;
  text-align: center;
  overflow: hidden;
}

.screen-1__wrap,
.screen-2__wrap {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Screen One */
.screen-1 {
  background: url(../img/sc1.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
}

.screen-1__heading {
  margin-top: 240px;
}

.screen-1__subheading {
  margin-top: 20px;
}

/* Screen Two */
.screen-2 {
  background-color: #f3f5f7;
}

.screen-2__heading {
  margin-top: 80px;
}

.screen-2__heading__underline {
  margin: 24px auto 18px;
}

.screen-2__letter {
  width: 760px;
  height: 361px;
  background: url(../img/sc2.png) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -380px;
}

.screen-2__person {
  width: 275px;
  height: 380px;
  background: url(../img/sc2-1.png) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -140px;
  z-index: 2;
}

.screen-2__rocket {
  width: 266px;
  height: 205px;
  background: url(../img/sc2-2.png) center top no-repeat;
  position: absolute;
  bottom: 102px;
  right: 350px;
  z-index: 1;
}
