.heading_underline {
  display: block;
  width: 50px;
  height: 3px;
  background-color: #ff0000;
}

/* Header */
.header {
  width: 100%;
  height: 60px;
  background-color: transparent;
  position: fixed;
  top: 0;
  transition: all 1s;
  z-index: 3;
}

.header--bg-white {
  background: rgba(255, 255, 255, 0.9)
}

.header__wrap {
  width: 100%;
  height: 60px;
  color: #fff;
  position: relative;
}

.header--bg-white .header__wrap {
  color: #000;
}

.header__logo {
  width: 200px;
  height: 40px;
  left: 10px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-indent: 52px;
  background: url(../img/logo.png) left center no-repeat;
  position: absolute;
}

.header__nav {
  margin: 10px 0;
  right: 30px;
  font-size: 0;
  position: absolute;
}

.header--bg-white .header__nav__item {
  color: #000;
}

.header__nav__item {
  display: inline-block;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  line-height: 40px;
  padding-left: 40px;
  white-space: nowrap;
  cursor: pointer;
}

.header__nav__item.header__nav__item--status-active {
  font-weight: bold;
}

.header__nav__item.header__nav__item--type-btn {
  width: 98px;
  height: 40px;
  text-align: center;
  border-radius: 5px;
  background-color: #f01400;
  color: #fff;
  padding: 0;
  margin-left: 40px;
}

.header__nav__underline {
  position: absolute;
  width: 64px;
  margin-left: 40px;
  left: 0px;
  transition: all .5s;
}

.screen-1,
.screen-2,
.screen-3,
.screen-4,
.screen-5 {
  width: 100%;
  height: 640px;
  text-align: center;
  overflow: hidden;
}

.screen-1__wrap,
.screen-2__wrap,
.screen-3__wrap,
.screen-4__wrap,
.screen-5__wrap {
  width: 1200px;
  height: 640px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Screen One */
.screen-1 {
  background: url(../img/sc1.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
}

.screen-1__heading {
  opacity: 0;
  margin-top: 240px;
}

.screen-1__subheading {
  opacity: 0;
  margin-top: 20px;
}

/* Screen Two */
.screen-2 {
  background-color: #f3f5f7;
}

.screen-2__heading {
  opacity: 0;
  margin-top: 80px;
}

.screen-2__subheading {
  opacity: 0;
}

.screen-2__heading__underline {
  opacity: 0;
  margin: 24px auto 18px;
}

.screen-2__letter {
  width: 760px;
  height: 361px;
  background: url(../img/sc2.png) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -380px;
}

.screen-2__person {
  opacity: 0;
  width: 275px;
  height: 380px;
  background: url(../img/sc2-1.png) center bottom no-repeat;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -140px;
  z-index: 2;
}

.screen-2__rocket {
  width: 266px;
  height: 205px;
  background: url(../img/sc2-2.png) center top no-repeat;
  position: absolute;
  bottom: 102px;
  right: 350px;
  z-index: 1;
}

/* Screen Three */
.screen-3 {
  background-color: #2b333b;
  color: #fff;
}

.screen-3__wrap {
  overflow: visible;
}

.screen-3__headings {
  width: 550px;
  text-align: left;
  top: 230px;
  right: 0;
  position: absolute;
}

.screen-3__heading {
  opacity: 0;
  font-size: 40px;
}

.screen-3__heading__underline {
  opacity: 0;
  margin: 25px 0 20px;
}

.screen-3__react {
  opacity: 0;
  width: 570px;
  height: 640px;
  background: url(../img/sc3.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: -200px;
}

.screen-3__tech {
  width: 520px;
  height: 68px;
  position: absolute;
  right: 10px;
  bottom: 50px;
}

.screen-3__tech__item {
  width: 68px;
  height: 68px;
  border: 5px solid #fff;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  float: left;
  font-size: 14px;
}

.screen-3__tech__item:not(:last-child) {
  margin-right: 40px;
}

.screen-3__tech__item--name-html {
  color: #02b0ff;
  border-color: #1f5975;
}

.screen-3__tech__item--name-php {
  color: #7888fd;
  border-color: #424d76;
}

.screen-3__tech__item--name-java {
  color: #ff6060;
  border-color: #6b4146;
}

.screen-3__tech__item--name-python {
  color: #22c7e5;
  border-color: #29535f;
}

.screen-3__tech__item--name-node {
  color: #90bd56;
  border-color: #3e4e40;
}

/* Screen Four */
.screen-4 {
  background-color: #f3f5f7;
  color: #07111b;
}

.screen-4__heading {
  opacity: 0;
  margin-top: 85px;
}

.screen-4__heading__underline {
  opacity: 0;
  margin: 30px auto 20px;
}

.screen-4__env {
  width: 100%;
  padding: 0 60px;
  position: absolute;
  bottom: 230px;
}

.screen-4__env__item {
  opacity: 0;
  width: 165px;
  height: 80px;
  position: relative;
  float: left;
}

.screen-4__env__item:not(:last-child) {
  margin-right: 140px;
}

.screen-4__env__item__description {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: -40px;
}

.screen-4__env__item--i-1 {
  background: url(../img/sc4-1.png) center top no-repeat;
}

.screen-4__env__item--i-2 {
  background: url(../img/sc4-2.png) center top no-repeat;
}

.screen-4__env__item--i-3 {
  background: url(../img/sc4-3.png) center top no-repeat;
}

.screen-4__env__item--i-4 {
  background: url(../img/sc4-4.png) center top no-repeat;
}

/* Screen Five */
.screen-5 {
  background: url(../img/sc5.jpg) center top/cover no-repeat;
  color: #fff;
}

.screen-5__person {
  opacity: 0;
  width: 205px;
  height: 205px;
  background: url(../img/sc5-1.png) center center no-repeat;
  margin: 100px auto 50px;
}

.screen-5__heading__underline {
  opacity: 0;
  background-color: #fff;
  margin: 20px auto 25px;
}

/* Screen More */
.screen-more {
  height: 200px;
  overflow: hidden;
}

.screen-more__button {
  display: block;
  width: 240px;
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #707070;
  border-radius: 5px;
  margin: 70px auto;
  cursor: pointer;
  color: #000;
}

.screen-more__button:hover {
  color: #f01400;
}

/* Footer */
.footer {
  height: 105px;
  background: #000;
  text-align: center;
}

.footer__links {
  display: inline-block;
  font-size: 0;
  margin: 30px auto 10px;
}

.footer__link {
  font-size: 14px;
  font-weight: lighter;
  color: #c8cdd2;
}

.footer__link:not(:last-child) {
  margin-right: 30px;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
}